<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soldiersoft.traveler.mapper.TicketMapper">

    <resultMap id="BaseResultMap" type="com.soldiersoft.traveler.entity.Ticket">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="ticketName" column="ticket_name" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="ticketType" column="ticket_type" jdbcType="TINYINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="isDeleted" jdbcType="TINYINT"/>
    </resultMap>
</mapper>
